label.sociallymap_label {
	clear: both;
	max-width: 500px;
	height: 50px;
	padding: 10px;
	display: block;
}

label.sociallymap_label > * {
	float: right;
}

.sociallymap_tab-area {
	border: 1px solid grey;
}

.sociallymap_tab-area > li {
	width: 50%;
	display: inline-block;
	background: red;
}