label.sociallymap_label {
	clear: both;
	max-width: 800px;
	width: calc(100% - 10px);
	height: 50px;
	padding: 10px;
	display: block;
}

label.sociallymap_label > * {
	float: right;
	width: calc(50%);
}

label.sociallymap_label > [type='checkbox'] {
	max-width: 15px;
}

.sm-categories-option > label > input {
	float: left;
	clear: both;
}

.sociallymap_tab-area > li {
	width: 50%;
	display: inline-block;
	background: red;
}

.subsubsub {
	float: none;
}

.sociallymap_formEntity {
	background: white;
	border: 1px solid #cdc;
	padding: 10px;
	margin-top: 15px;
}

.sociallymap_formEntity_newFlux {
	max-width: 600px;
	padding: 5px;
}

.sociallymap-icon-button:before {
	padding-top: 3px;
}

.sociallymap-icon-link:before {
	padding-top: 10px;
	font-size: 17px;
}

.sociallymap_valid-submit {
}

.wp-core-ui .danger {
	background: #d22;
	color: white;
	border: 1px solid #a77;
	box-shadow: inset 0 1px 0 rgba(230,130,100,.5),0 1px 0 rgba(0,0,0,.15);
}

.wp-core-ui .danger:hover {
	background: #c22;
	color: white;
	box-shadow: inset 0px 1px 5px rgba(230,130,100,.5);
	border-color: #a44;
}

.customicon-logo {
	color: red;
	border: 4px solid #fc0;
}

.sm-link-action-style {
	border: none;
	background: none;
	cursor: pointer;
}

.display-list-cat > li + li {
		border-top: 1px solid #eee;
}

.listCats + .listCats:before {
		content: '|';
		color: #ccc;
}

ul.sm-style-puces > li {
	margin-left: 40px;
}