.sm-video-display {
	width: 100%;
}

.sm-video-nosupport:before {
	content: 'Votre naviguateur ne supporte pas le format vidéo';
	position: relative;
	visibility: hidden;
}

.sm-modal-container {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	height: 100vh;
	width: 100vw;
	z-index: 99999999;
	display: none;
}

.sm-modal-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 99;
	cursor: pointer;
}

.sm-modal-content {
	position: absolute;
	height: 100vh;
	width: 80vw;
	background: white;
	z-index: 100;
	padding: 15px;
	top: 0;
	left: 10vw;
}

.sm-readmore-link {
	cursor: pointer;
}

.target-site-iframe {
	min-height: 500px;
	width: 100%;
}

.iframe-container {
	display: inherit;
}

.sm-modal-close {
	float: right;
	font-size: 30px;
	color: #c00;
	cursor: pointer;
	width: 50px;
	background: #eee;
	padding: 12px 20px 10px 10px;
	height: 50px;
	border-radius: 10px
}

.sm-modal-close:hover {
	color: #f00;
	background: #ddd;
}

.sm-modal-close > .dashicons-before:before  {
	font-size: 30px;
}

[data-hidden-display] {
	color: transparent;
	height: 0;
	margin: 0;
}